{% extends 'base.html' %}

{% block title %}The Full List{% endblock %}

{% block content %}

<h1>Top desinations for food & wine</h1>
<hr>
<h2>{{header}}</h2>

<form class="mb-5" method="get">
    <div class="field has-addons">
      <div class="control">
        <!--  Our input will search by name of artist  -->
        <input class="input" type="text" name="name" placeholder="name" />
      </div>
      <div class="control">
        <input class="button is-success" type="submit" value="Search" />
      </div>
    </div>
    <a class="button is-dark" href="{% url 'food_wine' %}">Clear Search</a>
  </form>
{% for place  in places %}

    {% if place.type == 'FW' %}

    <h3><b>{{place.name}}</b></h3>
    <p>{{place.typefull}}</p>
    <div class="detail__container">
        <div class="buttons">
        <a href="{% url 'place_update' place.pk %}" class="button is-info"> Update Details
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="{% url 'place_delete' place.pk %}" class="button is-danger">Delete Place
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
    <img src="{{place.image}}">
    <p>{{place.bio}}</p>
    <hr>

    {% endif %}

{% empty %}

<p>No desinations available</p>

{% endfor %}

{% endblock %}