{% extends 'base.html' %}
{% block content %}

<video class="jumpstart-native-video jumpstart-gif-js" autoplay="" muted="" loop="" playsinline="" src="https://playback.video.meredithcorp.io/3281700261001/6314817972112.mp4">
</video>

<h1>The 50 Best Places to Travel in 2023</h1>

<h2>Where to go in 2023, according to T+L editors — for a breath of fresh air, a big-city adventure, or a glimpse at the future of travel.</h2>

<p>With much of the world reopened, 2023 is shaping up to be the year travel officially bounces back. We made our list of the 50 best destinations for 2023 a little differently this year: We asked Travel + Leisure's editors where they want to go in the months ahead. Some are raring to get back to Japan, while others have the Trans-Bhutan Trail on their lists. Still more are planning a sail around Greenland, a wine-tasting trip on California’s central coast, and a visit to France’s next big wine region (which is, as it happens, tiny).</p><br />
<p>A few up-and-coming culinary destinations made our list, as did a remarkable piece of art, the size and scale of which boggles the imagination. While many of the team’s picks are remote, breathe-in-that-fresh-air kinds of places, our list doesn’t skimp on cities where the hustle and bustle is part of the fun.</p><br />
<p>But with so many choices now back on the map, there are as many styles of trips as there are places to explore. That’s why, for the first time in recent memory, we’ve broken our list of best places to go into categories.</p><br />
<p>The hope is that, whatever it is you’re after in the year ahead, you’ll find it in one of these 50 places. And who knows? We may just see you there.</p> <br />
<p>— Edited by Paul Brady and Maya Kachroo-Levine</p>

<img src="https://www.travelandleisure.com/thmb/jdGgsDkUgi17ynpOFwmkctFSqEk=/1200x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/TL_WTG_LogoBanner2-b70c11a5918b4644b5ecc151591686ac.jpg">

<h2>Desination by Category</h2>

<div class="destinations-grid">
    <div class="destination-square">
        <img src="https://www.travelandleisure.com/thmb/MfbcFrbzf8_tHsBtuYaKl4jHJ7s=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/TAL-king-street-alexandria-virginia-WTG2023-904fefe1290f4a3a91b53a7b40f61ae9.jpg">
        <span id="desinatation-square-name">
            For Cultural Riches
        </span>
    </div>
    <div class="destination-square">
        <img src="https://www.travelandleisure.com/thmb/4Tm09YYxnWhGJXemX83SuI1IJpY=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/TAL-four-seasons-astir-palace-athens-greece-WTG2023-c8e78b4925734089b2d2bafd7938eba4.jpg">
        <span id="desinatation-square-name">
            For the Food - And Wine
        </span>
    </div>
    <div class="destination-square">
        <img src="https://www.travelandleisure.com/thmb/2sXG2WFHCdUoIW2f8bPsfRmNoW0=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/TAL-copenhagen-denmark-WTG2023-d22e6dcdeff7405f98d01e5f8a7a0712.jpg">
        <span id="desinatation-square-name">
            For Big-City Thrills
        </span>
    </div>
    <div class="destination-square">
        <img src="https://www.travelandleisure.com/thmb/Q0yAwLsgBffxIPLG2yZ2vuUYzzo=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/TAL-santo-antao-cape-verde-islands-WTG2023-82a076b4cf2848dda0a553f5d8faaadf.jpg">
        <span id="desinatation-square-name">
            For Moments on the Water
        </span>
    </div>
    <div class="destination-square">
        <img src="https://www.travelandleisure.com/thmb/vlfZkWAhSn70UypPjTERT2eJBDE=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/TAL-andorra-vallnord-pal-arinsal-ski-WTG2023-2225c90b06e3441fb4c061a37ea9efcf.jpg">
        <span id="desinatation-square-name">
            For Fresh Air and Nature
        </span>
    </div>
    <div class="destination-square">
        <img src="https://www.travelandleisure.com/thmb/3lBAjRRVXxm1ohbzGnmv1oEl70w=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/TAL-sunken-harbor-club-bermuda-WTG2023-deb03391dbc94a7dbca996d2af9bac0b.jpg">
        <span id="desinatation-square-name">
            For Beach Vibes
        </span>
    </div>
    <div class="destination-square">
        <img src="https://www.travelandleisure.com/thmb/L0heT-ahRVSr53dh5lxb7nEG6qA=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/TAL-trans-bhutan-trail-WTG2023-c2f73386fe1f4363917f1b7c22a51d89.jpg">
        <span id="desinatation-square-name">
            For a Look at the Future
        </span>
    </div>
</div>

{% endblock %}